
.container-5
{
border:1 px solid black;
width: 75%;
margin: 0 auto;
text-align: center;
}

.flex-blackjack-row-1,.flex-blackjack-row-2,.flex-blackjack-row-3
{
    display:flex;
    border: 1px solid black;
    padding: 10px;
    flex-wrap:wrap;
    flex-direction:row;
    justify-content: space-around;
}

.flex-blackjack-row-1,.flex-blackjack-row-2
{
    background-image: url("../../static/images/background.png");
    color:#ffffff;
                  
}

.flex-blackjack-row-1 div
{
    border: 2px solid whitesmoke;
    padding: 10px;
    flex: 1;
    text-align: center;
    height: 400px;
    
}

.flex-blackjack-row-1 img
{
    width: 25%;
    padding: 10px;

}

.flex-blackjack-row-2 button
{
    border: 1px solid whitesmoke;
    padding: 10px;

}

.flex-blackjack-row-2 div
{
    border: 1px solid whitesmoke;
    padding: 10px;
}
table,th,td
{
    padding: 5px;
    border: 1px solid black;
}